body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px 25px;
    margin-top: 15px;
    background: #00c6ff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#result {
    margin-top: 30px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
}
